/* Hide sidebar, because sidebar:false doesn't work in frontmatter */
.sidebar {
  display: none;
}

body {
  /* Merriweather font from Google Fonts */
  font-family: 'Merriweather', serif;
}

.home {
  /* Remove padding to center vertically correctly */
  padding: 0 !important;
}

.home .hero h1 {
  /* Light 300 */
  font-weight: 300;
}

.home .hero .description {
  /* Light 300 */
  font-weight: 300;
  /* NTNU Blue */
  color: #00509e !important;
}

/* Center main app container */
#app {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
